nav{
  margin-left: auto;
  width: 100%;
  margin-top: 50px;
}

h1{
  text-align: center;
}

body{
  background-attachment: fixed;
  font-family: 'Fredoka One', cursive;
}

.logo {
  display: block;
  max-width: 300px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.tv{
  width: 100%
}

.container{
  position: relative;
  margin-top: 20px;
  height: 1200px;
  width: 95%;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;
}

.first{
  position: absolute;
  left: 3%;
  top: 3%;
  bottom: 50%;
  right: 50%;
}

.pic1 {
  margin-top: 3%;
  border-radius: 35px;
}

h3{
  text-align: left;
}
.second{
  position: absolute;
  left: 50%;
  top: 3%;
  bottom: 50%;
  right: 3%;
}
.third{
  position: absolute;
  left: 3%;
  top: 50%;
  bottom: 3%;
  right: 50%;
}
.fourth{
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 3%;
  right: 3%;
}

.navbar {
  width: 100%;
  margin-top: 50px;
}

.nav-link{
  font-size: 35px;
}

li:hover{
  opacity: 0.5;
}

a{
  font-family: 'Fredoka One', cursive;
}

a:hover{
  color: grey;
}
